sudo: false
language: cpp
cache:
    apt: true
    directories:
    - $HOME/cmake/
    - $HOME/gtest/
addons:
    apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - clang-3.8
        - gcc-5
notifications:
    email: false 
os:
- linux
- osx
compiler:
- clang
- gcc
install:
- . travis/update-cmake.sh
- git submodule init
before_script:
- mkdir build && cd build
- cmake ..
script:
- make
- ./utest
