language: cpp

cache:
    directories:
    - $HOME/cmake/
    - $HOME/gtest/
    
 notifications:
    email: false
    
compiler:
    - clang
install:
    - . travis/update-cmake.sh
    - git submodule init

before_script:
    - mkdir build && cd build
    - cmake ..

script:
    - make
    - ./utest