sudo: false
env: GCC_VERSION=5
language: cpp
cache:
    apt: true
    directories:
    - $HOME/cmake/
    - $HOME/gtest/
notifications:
    email: false 
os:
- linux
- osx
compiler:
- clang
- gcc
addons:
    apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-5
install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
- . travis/update-cmake.sh
- git submodule init
before_script:
- mkdir build && cd build
- cmake ..
script:
- make
- ./utest
